node_modules/
dist/
.env
data/*.db
playwright-report/
test-results/
data/*.txt
data/whatsapp-profile/
data/whatsapp-profile-test/
data/*.json
data/*.jpg
data/*.jpeg
data/*.png
data/*.gif
data/*.signal
